@import "../default.scss";

body {
	background: #C8E6C9;
}

.container {
	margin-top: 124px;
	display: flex;
	justify-content: center;
}
.board {
    display: flex;
	padding: 10px 10px 0 10px;
	min-height: 693px;
	min-width: 714px;
	width: max-content;
	border-radius: 20px;
	background: #4caf50;
	flex-direction: column;
    
		&__settings-buttons {
			height: 30px;
			width: 100%;
			color: #f5f5f5;
			font-family: 'Noto Sans';
			font-size: 24px;
			display: flex;
			justify-content: space-between;
			margin-top: 4px;
		}
		&__add-task {
			&:hover {
				cursor: pointer;
			}
		}
		&__title {
		}
		&__settings {
			&:hover {
				cursor: pointer;
			}
		}
}
.column-container {
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	gap: 47px;
}
.column {
	width: 200px;
	height: 628px;
	background: #388e3c;

		&__title-block {
			cursor: move;
			width: 200px;
			height: 60px;
			background: #942222;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&__title {
			color: #f5f5f5;
			font-family: 'Noto Sans';
			font-size: 24px;
		}
		&__tasks-container {
			display: flex;
			flex-direction: column;
			padding: 30px 20px;
		}
}
.task {
	width: 160px;
	height: 160px;
	background: #e2dd42;
	padding: 15px 7px;
	display: flex;
	flex-direction: column;
	word-break: break-all;

	&:hover {
		cursor: pointer;
		border: #000000 1px solid;
	}
		&__title {
			font-family: 'Noto Sans';
			font-size: 16px;
			color: #000000;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			text-overflow: ellipsis;
		}
		&__description {
			margin-top: 10px;
			color: #757575;
			font-family: 'Noto Sans';
			font-size: 16px;
			display: -webkit-box;
			-webkit-line-clamp: 7;
			-webkit-box-orient: vertical;
			text-overflow: ellipsis;
		}
}
.drag-over {
	border: 3px dotted #666;
}
.selected {
	opacity: 0.4;
}
