.task-description {
  position: fixed;
  top: 60%;
  left: 2%;
  z-index: 1;
  visibility: hidden;
  width: 450px;
  min-height: 340px;
  display: flex;
  flex-direction: column;
}
.task-description__title-block {
  background: #4caf50;
  width: 450px;
  min-height: 40px;
  text-align: center;
  padding: 10px 5px 10px 5px;
  word-break: break-all;
}
.task-description__title-block__text {
  color: #f5f5f5;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
}
.task-description__description-block {
  width: 450px;
  height: 261px;
  background: #d0d0d0;
  padding: 10px;
  word-break: break-all;
  overflow: scroll;
}
.task-description__description-block__text {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
}
.task-description__settings-button {
  width: 450px;
  height: 40px;
  background: #91c734;
  text-align: center;
  color: #ffffff;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.task-desc-active {
  visibility: visible;
}