<form class="board-settings" name="board-settings">
    <input type="hidden" name="id" value="{{ board.pk }}">
    <div class="board-settings__inputs-container">
        {% for field in board_form %}
            <div class="board-settings__input-line">
                <div class="board-settings__input-line__label-wrap">
                    {{ field.label_tag }}
                </div>
                {{ field }}
            </div>
        {% endfor %}
        <button class="board-settings__save-button" type="submit">Сохранить</button>
        <button class="board-settings__new-column" type="button">Добавить новую колонку</button>
    </div>
    <div class="board-settings__column-container">
        {% for column in board.columns.all %}
            <button type="button" class="board-settings__column" value="{{ column.pk }}">{{ column.title }}</button>
        {% endfor %}
    </div>
</form>

<button class="board-settings__delete-button" value="" type="button">Удалить</button>
<button class="board-settings__edit-button" value="" type="button">Изменить</button>