<form class="column-settings", name="column-settings" value="">
    <input type="hidden" name="id" value="">
    <div class="column-settings__inputs-container">
        {% for field in column_form %}
            <div class="column-settings__input-line">
                <div class="column-settings__input-line__label-wrap">
                    {{ field.label_tag }}
                </div>
                {{ field }}
            </div>
        {% endfor %}
    </div>
    <button class="column-settings__save-column" type="submit">Сохранить</button>
</form>