{% load static %}
<link id="board-form-style" rel="stylesheet" href="{% static "css/board/forms/new_board_form.css" %}">
<form class="board-form form" value="{{ pk }}">
    <div class="inputs-container">
        {% for field in form %}
            <div class="input-line">
                <div class="input-line__label-wrap">
                    {{ field.label_tag }}
                </div>
                {{ field }}
            </div>
        {% endfor %}
        <button class="save" type="submit">Сохранить</button>
    </div>
</form>