<form class="task-form" name="task-form" task="">
    <input type="hidden" name="id" value="">
    <div class="task-form__inputs-container">
        {% for field in task_form %}
            <div class="task-form__input-line">
                <div class="task-form__input-line__label-wrap">
                    {{ field.label_tag }}
                </div>
                {{ field }}
            </div>
        {% endfor %}
    </div>
    <div class="task-form__buttons">
        <button class="task-form__buttons__button-save" type="submit">Сохранить</button>
        <button class="task-form__buttons__button-delete" type="button" value="">Удалить</button>
    </div>
</form>