.column-settings {
    visibility: hidden;
    position: fixed;
    width: 450px;
    height: min-content;
    z-index: 4;
    background: #ffffff;
    border: 2px solid #676767;
    padding: 10px;
    margin: auto auto;

    &__save-column {
        width: 430px;
        height: 50px;
        font-family: 'Noto Sans', 'Arial', sans-serif;
        font-size: 17px;
        margin-top: 10px;
    }

    &__inputs-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 10px;
    }
    &__input-line {
        display: inline-flex;
        border: 1px solid #676767;
        
        input {
            width: 280px;
            height: 50px;
            border-radius: 4px;
            background: #ffffff;
        }
        &__label-wrap {
            width: 150px;
            height: 52px;
            background: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #676767;
            font-family: "Noto Sans", sans-serif;
            font-size: 18px;
        }
    }
}

.active {
    visibility: visible;
}