<div class="board-form">
    <div class="board-form__labels">
        <div class="board-form__label-wrap">
            <label for="board-name">Название</label>
        </div>
        <div class="board-form__label-wrap">
            <label for="board-max-tasks">Макс кол-во задач</label>
        </div>
    </div>
    <form class="board-form__forms">
        <input type="hidden" name="board-id" value="">
        <input type="text" id="board-name">
        <input type="number" id="board-max-tasks">
    </form>
</div>