{% extends "../default.html" %}

{% load static %}

{% block title %}{{ board.title }}{% endblock title %}

{% block link_css %}
    <link rel="stylesheet" href="{% static 'css/board/board_page.css' %}"></link>
    <link id="board-settings-style" rel="stylesheet" href="{% static "css/board/forms/board_settings_form.css" %}">
    <link id="column-settings-style" rel="stylesheet" href="{% static "css/board/forms/column_settings_form.css" %}">
{% endblock link_css %}


{% block content %}
    <div class="container">
        {% include "board/forms/board_settings_form.html" %}
        {% include "board/forms/column_settings_form.html" %}
        <div class="board" id="{{ board.pk }}">
            <div class="board__settings-buttons">
                <span class="board__add-task">+ Добавить задачу</span>
                <span class="board__title">{{ board.title }}</span>
                <span class="board__settings">Настройки доски</span>
            </div>
            <div class="column-container">
            {% for column in board.columns.all %}
                <div class="column" id="column-{{ column.pk }}">
                    <div class="column__title-block">
                        <span class="column__title">{{ column.title }}</span>
                    </div>
                    <div class="column__tasks-container">
                        {% for task in board.tasks.all %}
                            {% if task.column.title == column.title %}
                                <div class="task">
                                    <span class="task__title">{{ task.title }}</span>
                                    <span class="task__description">{{ task.description }}</span>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <script type="module" src="{% static 'js/board_page.js' %}"></script>
{% endblock content %}