{% extends "default.html" %}

{% block title %}Главная страница{% endblock title %}

{% load static %}

{% block link_css %} <link rel="stylesheet" href="{% static 'css/board/main_page.css' %}"> {% endblock link_css %}

{% block action_button_content %}<button class="new-board">Создать новую доску</button>{% endblock action_button_content %}

{% block content %}
    {% if boards %}
        <div class="container">
            {% for board in boards %}
                <div class="board" id="{{ board.id }}">
                    <div class="board__title">{{ board.title }}</div>
                    <div class="board__info">
                        <span class="board__info_item">Количество задач: <span class="board__info_item_tasks">{{ board.tasks|length }}</span></span>
                        <span class="board__info_item">Количество стадий: <span class="board__info_item_columns">{{ board.columns|length }}</span></span>
                        <span class="board__info_item">Пользователи: <span class="board__info_item_total-users">{{ board.total_users }}</span></span>
                    </div>
                    <div class="board__buttons">
                        <button class="board__button board__button_select">Выбрать</button>
                        <button class="board__button board__button_edit">Редактировать</button>
                        <button class="board__button board__button_delete">Удалить</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <script src="{% static 'js/main_page.js' %}"></script>
{% endblock content %}