{% block title %}Главная страница{% endblock title %}

{% load static %}

{% block link_css %} <link rel="stylesheet" href={% static "css/board/main_page.css" %}> {% endblock link_css %}

{% block action_button_content %}Создать новую доску{% endblock action_button_content %}

{% block content %}
    {% if boards %}
        <div class="container">
            {% for board in boards %}
                <div class="board">
                    <div class="board__title">{{ board.title }}</div>
                    <div class="board__info">
                        <div class="board__info-item">{{ board.max_tasks|length }}</div>
                        <div class="board__info-item">{{ board.columns|length }}</div>
                        <div class="board__info-item">{{ board.total_users }}</div>
                    </div>
                    <div class="board__buttons">
                        <div class="board__button board__button_select">Выбрать</div>
                        <div class="board__button board__button_edit">Редактировать</div>
                        <div class="board__button board__button_delete">Удалить</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock content %}