{% extends "default.html" %}

{% load static %}

{% block title %}
    Профиль {{ user.username }}
{% endblock title %}

{% block link_css %}
    <link rel="stylesheet" href="{% static "css/board/profile_page.css" %}">
{% endblock link_css %}

{% block content %}
    <div class="container">
        <form class="confirm-delete">
            <div class="banner">
                <span class="banner__title"></span>
                <div class="banner__buttons">
                    <button class="banner__button-yes" type="submit">Да</button>
                    <button class="banner__button-no" type="submit">Нет</button>
                </div>
            </div>
        </form>
        <div class="profile-container">
            <form class="profile-edit">
                <div class="notifications">
                    <label class="notifications__label" for="send-notifications">Получать уведомления</label>
                    {% if user.send_notifications %}
                        <input class="notifications__checkbox" name="send_notifications" checked type="checkbox" id="notifications-status">
                    {% else %}
                        <input class="notifications__checkbox" name="send_notifications" type="checkbox" id="notifications-status">
                    {% endif %}
                </div>
                <div class="username">
                    <label class="username__label" for="change-username">Имя пользователя: {{ user.username }}</label>
                    <input class="username__change" type="text" name="username" id="change-username">
                </div>
                <div class="profile-container__save-wrapper">
                    <button class="profile-container__save" type="submit">Сохранить</button>
                </div>
            </form>
            <form class="profile-delete">
                <div class="danger-zone">
                    <div class="danger-zone__title-block">
                        <span class="danger-zone__title">Опасная зона</span>
                    </div>
                    <button class="danger-zone__delete-account" type="submit">Удалить аккаунт</button>
                </div>
            </form>
        </div>
    </div>
    <script src="{% static 'js/profile_page.js' %}"></script>
{% endblock content %}