{% extends "default.html" %}

{% block title %}
    Профиль
{% endblock title %}

{% block content %}
    <div class="profile-container">
        <div class="profile-settings">
            <div class="notifications">
                <label class="notifications__label" for="send-notifications">Получать уведомления</label>
                <input class="notifications__checkbox" type="checkbox" id="send-notifications">
            </div>
            <div class="username">
                <label class="username__label" for="change-username">Имя пользователя: {{ user.username }}</label>
                <button class="username__change" type="submit" id="change-username">Изменить</button>
            </div>
            <div class="danger-zone">
                <div class="danger-zone__title">Опасная зона</div>
                <button class="danger-zone__delete-account" type="submit">Удалить аккаунт</button>
            </div>
        </div>
    </div>
{% endblock content %}