.board-settings {
    position: absolute;
    visibility: hidden;
    width: 450px;
    height: min-content;
    z-index: 2;
    
    &__inputs-container {
        background: #c8e6c9;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 10px;
    }
    &__input-line {
        display: inline-flex;
    
        input {
            width: 288px;
            height: 50px;
            border-radius: 4px;
            background: #ffffff;
            font-size: 16px;
        }
        &__label-wrap {
            width: 150px;
            height: 52px;
            background: #9abb9a;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #f5f5f5;
            font-family: "Alexandria", sans-serif;
            font-size: 18px;
        }
    }
    &__column-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10.66px 10px;
        padding: 10px;
        background: #f5f5f5;
    }
    &__column {
        width: 136.33px;
        height: 52px;
        background: #c8e6c9;
        color: #f5f5f5;
        font-family: "Alexandria", sans-serif;
        font-size: 18px;
    }
    &__delete-button {
        visibility: hidden;
        position: absolute;
        width: 136px;
        height: 52px;
        background: #c76034;
        color: #ffffff;
        font-family: Alexandria, sans-serif;
        font-size: 18px;
        z-index: 3;
    }
    &__edit-button {
        visibility: hidden;
        position: absolute;
        width: 136px;
        height: 52px;
        background: #91c734;
        color: #ffffff;
        font-family: Alexandria, sans-serif;
        font-size: 18px;
        z-index: 3;
    }
    &__save-button {
        width: 440px;
        height: 40px;
        background: #4caf50;
        border-radius: 4px;
        font-family: "Alexandria", sans-serif;
        font-size: 14px;
        color: #ffffff;
    }
    &__new-column {
        width: 440px;
        height: 40px;
        background: #4caf50;
        border-radius: 4px;
        font-family: "Alexandria", sans-serif;
        font-size: 14px;
        color: #ffffff;
    }
}
.active {
    visibility: visible;
}