.column-settings {
    visibility: hidden;
    position: absolute;
    width: 450px;
    height: min-content;
    z-index: 4;
    background: #f5f5f5;
    padding: 10px;

    &__save-column {
        width: 430px;
        height: 50px;
        background: #91C734;
        border-radius: 8px;
        font-family: 'Helvetica', 'Arial', sans-serif;
        font-size: 17px;
        color: #ffffff;
        margin-top: 10px;
    }

    &__inputs-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 10px;
    }
    &__input-line {
        display: inline-flex;
        
        input {
            width: 280px;
            height: 50px;
            border-radius: 4px;
            background: #ffffff;
        }
        &__label-wrap {
            width: 150px;
            height: 52px;
            background: #c8e6c9;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #f5f5f5;
            font-family: "Alexandria", sans-serif;
            font-size: 18px;
        }
    }
}

.active {
    visibility: visible;
}