.column-settings {
  visibility: hidden;
  width: 450px;
  height: -moz-min-content;
  height: min-content;
  z-index: 4;
  background: #f5f5f5;
  padding: 10px;
}
.column-settings__save-column {
  width: 430px;
  height: 50px;
  background: #91C734;
  border-radius: 8px;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 17px;
  color: #ffffff;
  margin-top: 10px;
}
.column-settings__inputs-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}
.column-settings__input-line {
  display: inline-flex;
}
.column-settings__input-line input {
  width: 280px;
  height: 50px;
  border-radius: 4px;
  background: #ffffff;
}
.column-settings__input-line__label-wrap {
  width: 150px;
  height: 52px;
  background: #c8e6c9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f5f5f5;
  font-family: "Alexandria", sans-serif;
  font-size: 18px;
}

.active {
  visibility: visible !important;
}